@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using WorkHourPlus.Entities.Enums
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <span class="fw-bold">WorkHours+</span>
            </a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <AuthorizeView Roles="@($"{nameof(Roles.Superadmin)},{nameof(Roles.Manager)}")">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/employee-list">Employees</a>
                        </li>
                    </AuthorizeView>
                </ul>
                <div class="flex">
                    <AuthorizeView>
                        <span class="fw-bolder">
                            @context.User.FindFirstValue(ClaimTypes.Name)
                        </span>
                        <span class="mx-2">•</span>
                        <a href="/logout">Logout</a>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </nav>
</header>